@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 20px;
}

h1,
p,
label,
ul {
    margin: 5px;
}

input {
    margin-left: 5px;
}

label {
    width: 400px;
}

input {
    width: 75px;
}

ul {
    padding-left: 30px;
}

#section1 {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

footer {
    text-align: center;
    font-style: italic;
}